<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :choose_algorithm %>
    <% if params[:algorithm_id] == nil %>
      <%= f.select :algorithm, current_user.algorithms.all.collect { |s| [s.name] }, {}, class: 'form-control' %>
    <% else %>
      <%= f.select :algorithm, [Algorithm.find(params[:algorithm_id]).name], {}, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :choose_benchmark %>
      <% if params[:bench_id] == nil %>
      <%= f.select :bench, current_user.generated_benches.all.collect { |s| [s.name] }, {}, class: 'form-control' %>
    <% else %>
      <%= f.select :bench, [Bench.find(params[:bench_id]).name], {}, class: 'form-control' %>
    <% end %>
  </div>

  <%= f.submit "Run", class: "btn btn-primary" %>&nbsp;
  <%= link_to "Back", tasks_path %>
<% end %>
