<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control', value: "Task ##{current_user.tasks.count+1}" %>
  </div>

  <div class="form-group">
    <%= f.label :choose_algorithm %>
    <%= f.select :algorithm_id, current_user.algorithms.all.collect { |s| [s.name, s.id] }, { selected: params[:algorithm_id] }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :choose_benchmark %>
    <%= f.select :bench_id, current_user.generated_benches.all.collect { |s| [s.name, s.id] }, { selected: params[:bench_id] }, class: 'form-control' %>
  </div>

  <%= f.submit "Run", class: "btn btn-primary" %>&nbsp;
  <%= link_to "Back", tasks_path %>
<% end %>
