<% ranking ||= false %>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>UUID</th>
      <th>Algorithm</th>
      <th>Benchmark</th>
      <th>EER</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Runner</th>
    </tr>
    <% tasks.each_with_index do |task, index| %>
      <tr class="<%= ranking ? (index < 3 ? "rank rank-#{index+1}" : '') : false %>">
        <td><%= link_to task.short_uuid, task %></td>
        <td><%= link_to task.algorithm.name, task.algorithm %></td>
        <td width="100px"><%= link_to task.bench.name, task.bench %></td>
        <td class="score highlighted"><%= (task.score * 100).round(3).to_s + '%' if task.score %></td>
        <td><%= simplify_time task.started_at %></td>
        <td class="progress-td">
          <% if task.finished %>
            <%= simplify_time task.finished %>
          <% else %>
            <div class="progress" style="width: 100px">
              <div class="progress-bar active" id="task-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.progress * 100 %>%"><%= Integer(task.progress * 100) %>%
              </div>
            </div>
          <% end %>
        </td>
        <td><%= task.runner.name %></td>
      </tr>
    <% end %>
  </table>  
</div>
