<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Benchmark</th>
      <th>Algorithm</th>
      <th>Finished</th>
      <th>Score</th>
      <th>UUID</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= link_to task.bench.name, task.bench %></td>
        <td><%= link_to task.algorithm.name, task.algorithm %></td>
        <td><%= task.finished %></td>
        <td><%= task.score %></td>
        <td><%= task.short_uuid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% content_for :sidebar do %>
<%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>
<% end %>
