<h1>Tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Benchmark</th>
      <th>Algorithm</th>
      <th>Progress</th>
      <th>Score</th>
      <th>UUID</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= link_to task.bench.name, task.bench %></td>
        <td><%= link_to task.algorithm.name, task.algorithm %></td>
        <td>
          <% if task.finished %>
            <%= task.finished %>
          <% else %>
            <div class="progress-bar active" id="task-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @task.progress * 100 %>%">
            </div>
          <% end %>
        </td>
        <td><%= task.score.round(2) %></td>
        <td><%= task.short_uuid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% content_for :sidebar do %>
<%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>
<% end %>
