<h3><I><%= @task.name %></I> <small><%= link_to 'Edit', edit_task_path(@task) %></small></h3>


<table class="table">
  <tr>
    <th>Name</th>
    <th>UUID</th>
    <th>Benchmark</th>
    <th>Algorithm</th>
    <th>Finished</th>
    <th>Score</th>
  </tr>
  <tr>
    <td><%= @task.name %></td> 
    <td><%= @task.short_uuid %></td>
    <td><%= link_to @task.bench.name, @task.bench %></td>
    <td><%= link_to @task.algorithm.name, @task.algorithm %></td>
    <td class="progress-td">
      <% if @task.finished %>
        <%= simplify_time @task.finished %>
      <% else %>
        <div class="progress" style="width: 300px">
          <div class="progress-bar active" id="task-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @task.progress * 100 %>%">
          </div>
        </div>
      <% end %>
    </td>
    <td class="score"><%= @task.score.round(2) if @task.score %></td>
  </tr>
</table>

<% if not @task.finished %>
  Task is running
<% else %>
  <h4>Graphs</h4>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag(@task.fmr_fnmr_graph_url) %>    
    </div>
    <div class="col-md-6">
      <%= image_tag(@task.score_graph_url) %>    
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= link_to 'Run Again', rerun_task_path, class: 'btn btn-primary' %>
  <%= link_to 'Stop', stop_task_path, class: 'btn btn-warning', disabled: @task.finished %>
  <%= link_to 'Delete Task', @task, method: :delete, data: { confirm: 'are you sure?' }, class: 'btn btn-danger' %>  
  <hr>
  <h4>Downloads</h4>
  <%= link_to 'match_result.txt', @task.result_file_url, class: 'btn btn-default' %>      
  <%= link_to 'uuid_table.txt', @task.uuid_table_file_url, class: 'btn btn-default' %>
  <%= link_to 'enroll_result.txt', @task.enroll_result_file_url, class: 'btn btn-default' %>
<% end %>

<% if not @task.finished %>
<script>
  $(document).ready(function(){
    var progresspump = setInterval(function(){
      $.get("/tasks/<%= @task.id.to_s %>/update_from_server", function(data){
        var progress = data['progress'] * 100;
        $("#task-progress").css('width', progress + '%');
        $("#task-progress").html(progress.toPrecision(2) + '%');

        if(progress > 99.999) {
          clearInterval(progresspump);
          $("#task-progress").html("Done");
          location.reload();
        }
      })
    }, 1000);});
</script>
<% end %>