<h3><I><%= @task.name %></I> <small><%= link_to 'Edit', edit_task_path(@task) %></small></h3>


<table class="table">
  <tr>
    <th>Name</th>
    <th>Benchmark</th>
    <th>Algorithm</th>
  </tr>
  <tr>
    <td><%= @task.name %></td>      
    <td><%= link_to @task.bench.name, @task.bench %></td>
    <td><%= link_to @task.algorithm.name, @task.algorithm %></td>
  </tr>
</table>

<% if not @task.finished %>
  Task is running
<% else %>
  
<% end %>

<% content_for :sidebar do %>
  <%= link_to 'Run Again', rerun_task_path, class: 'btn btn-primary' %>
  <%= link_to 'Delete Task', @task, method: :delete, data: { confirm: 'Delete this task will also delete all benchmarks, are you sure?' }, class: 'btn btn-danger' %>  
<% end %>
