<h3><I>Task <%= @task.short_uuid %></I></h3>

<%= render partial: 'tasks/table', locals: { tasks: [@task] } %>

<% if not @task.finished %>
  Task is running
<% else %>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>FMR100</th>
        <th>FMR1000</th>
        <th>zeroFNMR</th>
        <th>zeroFMR</th>
        <th>FTE</th>
        <th>FTM</th>
        <th>Avg.E.T</th>
        <th>Avg.M.T</th>
      </tr>
      <tr>
        <td><%= (@task.fmr100 * 100).round(2) %>%</td>
        <td><%= (@task.fmr1000 * 100).round(2) %>%</td>
        <td><%= (@task.zeroFNMR * 100).round(2) %>%</td>
        <td><%= (@task.zeroFMR * 100).round(2) %>%</td>
        <td><%= @task.fte %></td>
        <td><%= @task.ftm %></td>
        <td><%= @task.ave_enroll_time.round(2) if @task.ave_enroll_time %>ms</td>
        <td><%= @task.ave_match_time.round(2) if @task.ave_match_time %>ms</td>
      </tr>
    </table>
  </div>
  
  <h4>Graphs</h4>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag(@task.fmr_fnmr_graph_url, width: '100%', height: '100%') %>    
    </div>
    <div class="col-md-6">
      <%= image_tag(@task.score_graph_url, width: '100%', height: '100%') %>    
    </div>
    <div class="col-md-6">
      <%= image_tag(@task.roc_graph_url, width: '100%', height: '100%') %>    
    </div>
  </div>

  <% if current_user.vip || (current_user == @task.runner) %>
    <h4>First 5 Failed Results</h4>
    <%= render partial: 'tasks/enroll_results_table', locals: { results: @task.failed_enroll_results.first(5) } %>

    <h4>First 10 Failed Matches</h4>

    <%= render partial: 'tasks/match_results_table', locals: { results: @task.failed_match_results } %>

    <h4>First 100 Genuine Results</h4>

    <%= render partial: 'tasks/match_results_table', locals: { results: @task.genuine_results } %>
    
    <h4>First 100 Imposter Results</h4>

    <%= render partial: 'tasks/match_results_table', locals: { results: @task.imposter_results } %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <% if current_user.vip %>
    <%= link_to 'Run Again', rerun_task_path, class: 'btn btn-primary' %>
    <%= link_to 'Continue', continue_task_task_path, class: 'btn btn-primary' %>
    <%= link_to 'Stop', stop_task_path, class: 'btn btn-warning', disabled: @task.finished %>
  <% end %>
  <% if @task.bench.view.writers.include?(current_user) || current_user.vip %>
    <%= link_to 'Browse Results', browse_result_task_path(id: @task.id, type: 'enroll'), target: '_blank', class: 'btn btn-primary' %>
  <% end %>
  <% if current_user.vip %>
    <%= link_to 'Delete Task', @task, method: :delete, data: { confirm: 'are you sure?' }, class: 'btn btn-danger' %>  
    <hr>
    <h4>Downloads</h4>
    <%= link_to 'enroll_result.txt', @task.enroll_result_file_url, class: 'btn btn-default' %>
    <%= link_to 'genuine.txt', @task.genuine_result_file_url, class: 'btn btn-default' %>
    <%= link_to 'imposter.txt', @task.imposter_result_file_url, class: 'btn btn-default' %>
    <%= link_to 'match_failed.txt', @task.match_failed_file_url, class: 'btn btn-default' %>
    <%= link_to 'enroll_failed.txt', @task.enroll_failed_file_url, class: 'btn btn-default' %>
    <%= link_to 'uuid_table.txt', @task.uuid_table_file_url, class: 'btn btn-default' %>
  <% end %>
<% end %>

<% if not @task.finished %>
<script>
  $(document).ready(function(){
    var progresspump = setInterval(function(){
      $.get("/tasks/<%= @task.id.to_s %>/update_from_server", function(data){
        var progress = data['progress'] * 100;
        $("#task-progress").css('width', progress + '%');
        $("#task-progress").html(progress.toPrecision(2) + '%');

        if(progress > 99.999) {
          clearInterval(progresspump);
          $("#task-progress").html("Done");
          location.reload();
        }
      })
    }, 1000);});
</script>
<% end %>