<%= form_for(@algorithm) do |f| %>
  <% if @algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@algorithm.errors.count, "error") %> prohibited this algorithm from being saved:</h2>

      <ul>
      <% @algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 3, class: 'form-control' %>
  </div>
    
  <%= f.submit "Create Algorithm", class: "btn btn-primary" %>&nbsp;
  <%= link_to "Back", algorithms_path %>

<% end %>
