<h3>Algorithm Check Result For <I><%= link_to @algorithm.name, @algorithm %></I></h3>

<hr>

<% if not @task.finished %>
  @task is running
<% else %>
  <table class="table">
    <tr>
      <th>FMR100</th>
      <th>FMR1000</th>
      <th>zeroFNMR</th>
      <th>zeroFMR</th>
      <th>FTE</th>
      <th>FTM</th>
      <th>Avg.E.T</th>
      <th>Avg.M.T</th>
    </tr>
    <tr>
      <td><%= (@task.fmr100 * 100).round(2) %>%</td>
      <td><%= (@task.fmr1000 * 100).round(2) %>%</td>
      <td><%= (@task.zeroFNMR * 100).round(2) %>%</td>
      <td><%= (@task.zeroFMR * 100).round(2) %>%</td>
      <td><%= @task.fte %></td>
      <td><%= @task.ftm %></td>
      <td><%= @algorithm.match_speed.round(2) if @algorithm.match_speed %>ms</td>
      <td><%= @algorithm.enroll_speed.round(2) if @algorithm.enroll_speed %>ms</td>
    </tr>
  </table>
  <h4>Graphs</h4>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag(@task.fmr_fnmr_graph_url) %>    
    </div>
    <div class="col-md-6">
      <%= image_tag(@task.score_graph_url) %>    
    </div>
    <div class="col-md-12">
      <%= image_tag(@task.roc_graph_url) %>    
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <% if current_user.vip %>
    <%= link_to 'Run Again', rerun_task_path, class: 'btn btn-primary' %>
    <%= link_to 'Stop', stop_task_path, class: 'btn btn-warning', disabled: @task.finished %>
  <% end %>
  <% if @task.runner = current_user || current_user.vip %>
    <%= link_to 'Browse Imposter', @task.imposter_viewer_url, target: '_blank', class: 'btn btn-primary' %>
    <%= link_to 'Browse Genuine', @task.genuine_viewer_url, target: '_blank', class: 'btn btn-primary' %>
  <% end %>
  <% if current_user.vip %>
    <hr>
    <h4>Downloads</h4>
    <%= link_to 'enroll_result.txt', @task.enroll_result_file_url, class: 'btn btn-default' %>
    <%= link_to 'genuine.txt', @task.genuine_result_file_url, class: 'btn btn-default' %>
    <%= link_to 'imposter.txt', @task.imposter_result_file_url, class: 'btn btn-default' %>
    <%= link_to 'uuid_table.txt', @task.uuid_table_file_url, class: 'btn btn-default' %>
  <% end %>
<% end %>