<h3>Algorithm Check Result For <I><%= link_to @algorithm.name, @algorithm %></I></h3>

<% if not @algorithm.usable %>
  <div class="alert alert-error">
    This algorithm is not usable because: <br>
    <% if @task.fte != 0 %>
    - It has failed enrolments.
    <% end %>
    <% if @task.ftm != 0 %>
    - It has failed matches.
    <% end %>
    <% if @task.fte == 0 && @task.ftm == 0 && 
        (@algorithm.match_speed < 9999 && @algorithm.match_speed > 500 || 
         @algorithm.enroll_speed < 9999 && @algorithm.enroll_speed > 1000) %>
    - Enroll is slower than 1000ms or Match is slower than 500ms.
    <% end %>
  </div>
<% end %>
<hr>

<% if not @task.finished %>
  Task is running
  <%= @task.id %>
<% else %>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>EER</th>
        <th>FMR100</th>
        <th>FMR1000</th>
        <th>zeroFNMR</th>
        <th>zeroFMR</th>
        <th>FTE</th>
        <th>FTM</th>
        <th>Avg.E.T</th>
        <th>Avg.M.T</th>
      </tr>
      <tr>
        <td><%= (@task.score * 100).round(2) %>%</td>
        <td><%= (@task.fmr100 * 100).round(2) %>%</td>
        <td><%= (@task.fmr1000 * 100).round(2) %>%</td>
        <td><%= (@task.zeroFNMR * 100).round(2) %>%</td>
        <td><%= (@task.zeroFMR * 100).round(2) %>%</td>
        <td><%= @task.fte %></td>
        <td><%= @task.ftm %></td>
        <td><%= @algorithm.match_speed.round(2) if @algorithm.match_speed %>ms</td>
        <td><%= @algorithm.enroll_speed.round(2) if @algorithm.enroll_speed %>ms</td>
      </tr>
    </table>
  </div>
  
  <h4>Graphs</h4>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag(@task.fmr_fnmr_graph_url, width: '100%', height: '100%') %>
    </div>
    <div class="col-md-6">
      <%= image_tag(@task.score_graph_url, width: '100%', height: '100%') %>
    </div>
    <div class="col-md-6">
      <%= image_tag(@task.roc_graph_url, width: '100%', height: '100%') %>
    </div>
  </div>

  <h4>Enroll Results</h4>

  <%= render partial: 'tasks/enroll_results_table', locals: { results: @task.enroll_results } %>
  <%= render partial: 'tasks/enroll_results_table', locals: { results: @task.failed_enroll_results } %>

  <h4>Failed Matches</h4>

  <%= render partial: 'tasks/match_results_table', locals: { results: @task.failed_match_results } %>

  <h4>Genuine Results</h4>

  <% genuine_results, imposter_results = @task.match_results %>

  <%= render partial: 'tasks/match_results_table', locals: { results: genuine_results } %>
  
  <h4>Imposter Results</h4>

  <%= render partial: 'tasks/match_results_table', locals: { results: imposter_results } %>

<% end %>

<% content_for :sidebar do %>
  <% if current_user.vip %>
    <%= link_to 'Run Again', rerun_task_path(id: @task.id), class: 'btn btn-primary' %>
    <%= link_to 'Stop', stop_task_path, class: 'btn btn-warning', disabled: @task.finished %>
  <% end %>
  <% if @task.runner = current_user || current_user.vip %>
    <%= link_to 'Browse Imposter', @task.imposter_viewer_url, target: '_blank', class: 'btn btn-primary' %>
    <%= link_to 'Browse Genuine', @task.genuine_viewer_url, target: '_blank', class: 'btn btn-primary' %>
  <% end %>
  <% if current_user.vip %>
    <hr>
    <h4>Downloads</h4>
    <%= link_to 'enroll_result.txt', @task.enroll_result_file_url, class: 'btn btn-default' %>
    <%= link_to 'genuine.txt', @task.genuine_result_file_url, class: 'btn btn-default' %>
    <%= link_to 'imposter.txt', @task.imposter_result_file_url, class: 'btn btn-default' %>
    <%= link_to 'match_failed.txt', @task.match_failed_file_url, class: 'btn btn-default' %>
    <%= link_to 'enroll_failed.txt', @task.enroll_failed_file_url, class: 'btn btn-default' %>
    <%= link_to 'uuid_table.txt', @task.uuid_table_file_url, class: 'btn btn-default' %>
  <% end %>
<% end %>