<h1>Algorithms <%= link_to 'New Algorithm', new_algorithm_path, class: 'btn btn-primary' %></h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th># Tasks</th>
        <th>Created</th>
        <th>UUID</th>
        <th>Check</th>
        <th>Usable</th>
        <th>Author</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @algorithms.each do |algorithm| %>
        <tr>
          <td class="<%= algorithm.writable?(current_user) ? 'highlighted' : '' %>"><%= link_to algorithm.name, algorithm %></td>
          <td><%= algorithm.description %></td>
          <td><%= algorithm.tasks.count %></th>
          <td><%= simplify_time algorithm.created_at %></td>
          <td><%= algorithm.short_uuid %></td>
          <td><%= algorithm.checked ? 'checked' : 'chcking' %></td>
          <td style="<%= algorithm.usable ? 'color: #E64A45' : '' %> "><%= algorithm.usable ? 'YES' : 'NO' %></td>
          <td><%= algorithm.author.name if algorithm.author %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @algorithms %>
