<h1>Algorithms</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th># Tasks</th>
      <th>Created</th>
      <th>UUID</th>
    </tr>
  </thead>

  <tbody>
    <% @algorithms.each do |algorithm| %>
      <tr>
        <td><%= link_to algorithm.name, algorithm %></td>
        <td><%= algorithm.description %></td>
        <td><%= algorithm.tasks.count %></th>
        <td><%= simplify_time algorithm.created_at %></td>
        <td><%= algorithm.short_uuid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% content_for :sidebar do %>
<%= link_to 'New Algorithm', new_algorithm_path, class: 'btn btn-primary' %>
<% end %>
