<h3>
  <I><%= @algorithm.name %></I> 
  <small><%= link_to 'Edit', edit_algorithm_path(@algorithm) if @algorithm.writable?(current_user) %></small>
  <div class="pull-right">
    <% if @algorithm.checked %>
      <span class="label label-success">
        <%= link_to check_result_algorithm_path, style: 'color: white; text-decoration: none;' do %>
          <i class="fa fa-info-circle"></i> CHECKED
        <% end %>
      </span>
      &nbsp;
      <% if @algorithm.usable %>
        <span class="label" style="background-color: #e6772e; color: white">USABLE</span>
      <% else %>
        <span class="label" style="background-color: #E64A45; color: white">UNUSABLE</span>
      <% end %>
    <% else %>
      <span class="label label-warning">CHECKING</span>
    <% end %>
  </div>
</h3>

<table class="table">
  <tr>
    <th>Description</th>
    <th>Enroll.exe</th>
    <th>Match.exe</th>
    <th>Match Speed</th>
    <th>Enroll Speed</th>
  </tr>
  <tr>
    <td><%= @algorithm.description %></td>
    <td><%= link_to 'Download', @algorithm.enroll_exe_url if @algorithm.readable?(current_user) %></td>
    <td><%= link_to 'Download', @algorithm.match_exe_url if @algorithm.readable?(current_user) %></td>
    <td><%= @algorithm.match_speed %></td>
    <td><%= @algorithm.enroll_speed %></td>
  </tr>
</table>

<h4>Tasks under <I><%= @algorithm.name %></I></h4>
<%= render partial: 'tasks/table', locals: { tasks: @algorithm.tasks } %>

<% content_for :sidebar do %>
  <% if @algorithm.readable?(current_user) %>
    <%= link_to 'Run Task', new_task_path(algorithm_id: @algorithm.id), class: 'btn btn-primary' %>
  <% end %>
  <% if @algorithm.writable?(current_user) %>
    <%= link_to 'Make Public', publish_algorithm_path, class: 'btn btn-success' if not @algorithm.ispublic %>
    <%= link_to 'Make Priave', unpublish_algorithm_path, class: 'btn btn-warning' if @algorithm.ispublic %>
  <% end %>
  <% if @algorithm.writable?(current_user) %>
    <%= link_to 'Delete Algorithm', @algorithm, method: :delete, data: { confirm: 'Delete this algorithm will also delete all tasks, are you sure?' }, class: 'btn btn-danger' %>
    <%= render partial: 'shared/reader_writer_list', locals: { resource: @algorithm } %>
  <% end %>
<% end %>

