<h3><I><%= @algorithm.name %></I> <small><%= link_to 'Edit', edit_algorithm_path(@algorithm) %></small></h3>

<table class="table">
  <tr>
    <th>Description</th>
    <th>Enroll.exe</th>
    <th>Match.exe</th>
  </tr>
  <tr>
    <td><%= @algorithm.description %></td>
    <td><%= link_to 'Download', @algorithm.enroll_exe_url %></td>
    <td><%= link_to 'Download', @algorithm.match_exe_url %></td>
  </tr>
</table>

<h4>Tasks under <I><%= @algorithm.name %></I></h4>
<%= render partial: 'tasks/table', locals: { tasks: @algorithm.tasks } %>

<% content_for :sidebar do %>
  <% if @algorithm.readable?(current_user) %>
    <%= link_to 'Run Task', new_task_path(algorithm_id: @algorithm.id), class: 'btn btn-primary' %>
  <% end %>
  <% if @algorithm.writable?(current_user) %>
    <%= link_to 'Delete Algorithm', @algorithm, method: :delete, data: { confirm: 'Delete this algorithm will also delete all tasks, are you sure?' }, class: 'btn btn-danger' %>
    <%= render partial: 'shared/reader_writer_list', locals: { resource: @algorithm } %>
  <% end %>
<% end %>

