<%= form_for(@view, html: { class: 'form-horizontal col-xs-12' }) do |f| %>
  <% if @view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@view.errors.count, "error") %> prohibited this view from being saved:</h2>

      <ul>
      <% @view.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :strategy %>
    <%= f.select :strategy, View::VALID_STRATEGIES.collect { |s| [s.to_s, s.to_s] }, {}, class: 'form-control' %>
  </div>

  <div id="view-by-import-tag">
    <div class="form-group">
      <%= f.label :import_tag %>
      <%= f.text_field :import_tag, class: 'form-control' %>
    </div>
  </div>

  <div id="view-by-file">
    <div class="form-group">
      <%= f.label :file %>
      <%= f.file :import_tag, class: 'form-control' %>
    </div>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
<% end %>
