<%= form_for(@bench) do |f| %>
  <% if @bench.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bench.errors.count, "error") %> prohibited this bench from being saved:</h2>

      <ul>
      <% @bench.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :view_id, @view.id %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :strategy %>
    <% if @bench.new_record? %>
      <%= f.select :strategy, Bench::VALID_STRATEGIES.collect { |s| [s.to_s, s.to_s] }, {}, class: 'form-control', id: 'strategy' %>
    <% else %>
      <%= f.select :strategy, Bench::VALID_STRATEGIES.collect { |s| [s.to_s, s.to_s] }, {}, class: 'form-control', id: 'strategy', disabled: true %>
    <% end %>
  </div>

  <div id="bench-by-general-allN">
    <div class="form-group">
      <%= f.label :class_count %>
      <%= f.number_field :class_count, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :sample_count %>
      <%= f.number_field :sample_count, class: 'form-control' %>
    </div>
  </div>

  <div id="bench-by-file">
    <div class="form-group">
      <%= f.label :file %>
      <%= f.file_field :file %>
      <p class="help-block">Upload a file with one sample uuid per line, must have a '.txt' extention</p>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>&nbsp;
  <%= link_to 'Back', benches_path %>
<% end %>
