<%= form_for(@bench) do |f| %>
  <% if @bench.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bench.errors.count, "error") %> prohibited this bench from being saved:</h2>

      <ul>
      <% @bench.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :num_of_genuine %><br>
    <%= f.number_field :num_of_genuine %>
  </div>
  <div class="field">
    <%= f.label :num_of_imposter %><br>
    <%= f.number_field :num_of_imposter %>
  </div>
  <div class="field">
    <%= f.label :strategy %><br>
    <%= f.text_field :strategy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
