<%= form_for(@bench) do |f| %>
  <% if @bench.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bench.errors.count, "error") %> prohibited this bench from being saved:</h2>

      <ul>
      <% @bench.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 3, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :strategy %><br>
    <% if @bench.new_record? %>
      <%= f.select :strategy, Bench::VALID_STRATEGIES.collect { |s| [s.to_s, s.to_s] }, {}, class: 'form-control', id: 'strategy' %>
    <% else %>
      <%= f.select :strategy, Bench::VALID_STRATEGIES.collect { |s| [s.to_s, s.to_s] }, {}, class: 'form-control', id: 'strategy', disabled: true %>
    <% end %>
  </div>

  <%= f.submit "Create Benchmark", class: "btn btn-primary" %>&nbsp;
  <%= link_to 'Back', benches_path %>

<% end %>
