<h1>Benchmarks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th># genuine</th>
      <th># imposter</th>
      <th>Strategy</th>
      <th>View</th>
      <th>Created</th>
      <th>UUID</th>
    </tr>
  </thead>

  <tbody>
    <% @benches.each do |bench| %>
      <tr>
        <td><%= link_to bench.name, bench %></td>
        <td><%= bench.description %></td>
        <td><%= bench.num_of_genuine %></td>
        <td><%= bench.num_of_imposter %></td>
        <td><%= bench.verbose_strategy %></td>
        <td><%= link_to bench.view.name, bench.view %></td>
        <td><%= simplify_time bench.created_at %></td>
        <td><%= bench.short_uuid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @benches %>
