<p id="notice"><%= notice %></p>

<h1>Benchmarks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Num of genuine</th>
      <th>Num of imposter</th>
      <th>Strategy</th>
      <th>UUID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @benches.each do |bench| %>
      <tr>
        <td><%= bench.name %></td>
        <td><%= bench.description %></td>
        <td><%= bench.num_of_genuine %></td>
        <td><%= bench.num_of_imposter %></td>
        <td><%= bench.strategy %></td>
        <td><%= bench.short_uuid %></td>
        <td><%= link_to 'Show', bench %></td>
        <td><%= link_to 'Edit', edit_bench_path(bench) %></td>
        <td><%= link_to 'Destroy', bench, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% content_for :sidebar do %>
<%= link_to 'New Bench', new_bench_path, class: 'btn btn-primary' %>
<% end %>
