<h1>Benchmarks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th># G</th>
      <th># I</th>
      <th>Strategy</th>
      <th>View</th>
      <th>Created</th>
      <th>UUID</th>
    </tr>
  </thead>

  <tbody>
    <% @benches.each do |bench| %>
      <tr>
        <td class="<%= bench.writable?(current_user) ? 'highlighted' : '' %>" style="width: 150px;"><%= link_to bench.name.truncate(20), bench %></td>
        <td><%= bench.num_of_genuine %></td>
        <td><%= bench.num_of_imposter %></td>
        <td><%= bench.verbose_strategy %></td>
        <td><%= link_to bench.view.name, bench.view %></td>
        <td><%= simplify_time bench.created_at %></td>
        <td><%= bench.short_uuid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @benches %>
