<p id="notice"><%= notice %></p>

<h1>Benchmarks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Num of genuine</th>
      <th>Num of imposter</th>
      <th>Strategy</th>
      <th>Belongs to</th>
      <th>UUID</th>
    </tr>
  </thead>

  <tbody>
    <% @benches.each do |bench| %>
      <tr>
        <td><%= link_to bench.name, bench %></td>
        <td><%= bench.description %></td>
        <td><%= bench.num_of_genuine %></td>
        <td><%= bench.num_of_imposter %></td>
        <td><%= bench.verbose_strategy %></td>
        <td><%= link_to bench.view.name, bench.view %></td>
        <td><%= bench.short_uuid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @benches %>
