<h3><I><%= @bench.name %></I> <small><%= link_to 'Edit', edit_bench_path(@bench) %></small></h3>

<table class="table">
  <tr>
    <th>Description</th>
    <th># Genuine</th>
    <th># Imposter</th>
    <% if @bench.strategy == :file %>
      <th>File</th>
    <% end %>
    <th>View</th>
    <th>Created</th>
    <th>UUID</th>
  </tr>
  <tr>
    <td><%= @bench.description %></td>
    <td><%= @bench.num_of_genuine %></td>
    <td><%= @bench.num_of_imposter %></td>
    <% if @bench.strategy == :file %>
      <td><%= link_to File.basename(@bench.file.path), @bench.file.url %></td>
    <% end %>
    <td><%= link_to @bench.view.name, @bench.view %></td>
    <td><%= simplify_time @bench.created_at %></td>
    <td><%= @bench.short_uuid %></td>
  </tr>
</table>

<h4>Tasks under <I><%= @bench.name %></I></h4>
<%= render partial: 'tasks/table', locals: { tasks: @bench.tasks } %>

<% content_for :sidebar do %>
  <%= link_to 'Run Task', new_task_path(bench_id: @bench.id), class: 'btn btn-primary' %>
  <%= link_to 'Delete Benchmark', @bench, method: :delete, data: { confirm: 'Delete this bench will also delete all tasks, are you sure?' }, class: 'btn btn-danger' %>  
  <%= link_to 'Add Benchmark', new_bench_path(view_id: @bench.view.id), class: 'btn btn-success' %>  
  <hr></hr>
  <h4>Downloads</h4>
  <%= link_to 'benchmark.txt', @bench.benchmark_file_url, class: 'btn btn-default' %>
  <%= link_to 'uuid_table.txt', @bench.uuid_table_file_url, class: 'btn btn-default' %>
<% end %>
