<h3><I><%= @bench.name %></I> <small><%= link_to 'Edit', edit_bench_path(@bench) %></small></h3>

<table class="table">
  <tr>
    <th>Description</th>
    <th># Genuine</th>
    <th># Imposter</th>
    <% if @bench.strategy == :file %>
      <th>File</th>
    <% end %>
    <th>View</th>
    <th>Created</th>
    <th>UUID</th>
    <% if not @bench.done %>
      <th>Progress</th>
    <% end %>
  </tr>
  <tr>
    <td><%= @bench.description %></td>
    <td><%= @bench.num_of_genuine %></td>
    <td><%= @bench.num_of_imposter %></td>
    <% if @bench.strategy == :file %>
      <td><%= link_to File.basename(@bench.file.path), @bench.file.url %></td>
    <% end %>
    <td><%= link_to @bench.view.name, @bench.view %></td>
    <td><%= simplify_time @bench.created_at %></td>
    <td><%= @bench.short_uuid %></td>
    <% if not @bench.done %>
      <td>
        <div class="progress" style="width: 200px">
          <div class="progress-bar active" id="bench-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @bench.progress * 100 %>%">
          </div>
        </div>
      </td>
    <% end %>
  </tr>
</table>

<h4>Tasks under <I><%= @bench.name %></I></h4>
<%= render partial: 'tasks/table', locals: { tasks: @tasks } %>

<% content_for :sidebar do %>
  <% if @bench.readable?(current_user) %>
    <%= link_to 'Run Task', new_task_path(bench_id: @bench.id), class: 'btn btn-primary', disabled: !@bench.done %>
  <% end %>
  <% if @bench.writable?(current_user) %>
    <%= link_to 'Make Public', publish_bench_path, class: 'btn btn-success' if not @bench.ispublic %>
    <%= link_to 'Make Priave', unpublish_bench_path, class: 'btn btn-warning' if @bench.ispublic %>
    <%= link_to 'Delete Benchmark', @bench, method: :delete, data: { confirm: 'Delete this bench will also delete all tasks, are you sure?' }, class: 'btn btn-danger', disabled: !@bench.done %>  
  <% end %>
  <hr>
  <h4>Downloads</h4>
  <% if @bench.view.writable?(current_user) %>
    <%= link_to 'benchmark.txt', @bench.benchmark_file_url, class: 'btn btn-default' %>
    <%= link_to 'uuid_table.txt', @bench.uuid_table_file_url, class: 'btn btn-default' %>
  <% end %>
  <%= render partial: 'shared/reader_writer_list', locals: { resource: @bench } %>
<% end %>

<% if not @bench.done %>
<script>
  $(document).ready(function() {
    var progresspump = setInterval(function(){
      $.get("/benches/<%= @bench.id.to_s %>/progress", function(data){
        var progress = data['progress'] * 100;
        $("#bench-progress").css('width', progress + '%');
        $("#bench-progress").html(progress.toPrecision(2) + '%');

        if(progress > 99.999) {
          clearInterval(progresspump);
          location.reload();
        }
      })
    }, 1000);});
</script>
<% end %>
