<h3><I><%= @bench.name %></I> <small><%= link_to 'Edit', edit_bench_path(@bench) %></small></h3>

<table class="table">
  <tr>
    <th>Description</th>
    <th># Genuines</th>
    <th># Imposters</th>
    <% if @bench.strategy == :file %>
      <th>File</th>
    <% end %>
    <th>View</th>
  </tr>
  <tr>
    <td><%= @bench.description %></td>
    <td><%= @bench.num_of_genuine %></td>
    <td><%= @bench.num_of_imposter %></td>
    <% if @bench.strategy == :file %>
      <td><%= link_to File.basename(@bench.file.path), @bench.file.url %></td>
    <% end %>
    <td><%= link_to @bench.view.name, @bench.view %></td>
  </tr>
</table>

<h4>Tasks under <I><%= @bench.name %></I></h4>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Progress</th>
    <th>Finished</th>
    <th>Created</th>
    <th>Runner</th>
  </tr>

  <% @bench.tasks.each do |task| %>
    <tr>
      <td><%= link_to task.name, task %></td>
      <td><%= task.score %></td>
      <td><%= task.progress %></td>
      <td><%= task.finished %></td>
      <td><%= task.created_at.strftime("%y' %b %d - %H:%M") %></td>
      <td><%= task.runner.name %></td>
    </tr>
  <% end %>
</table>

<% content_for :sidebar do %>
  <%= link_to 'Run Task', new_task_path(bench_id: @bench.id), class: 'btn btn-primary' %>
  <%= link_to 'Download', @bench.file_url, class: 'btn btn-primary' %>
  <%= link_to 'Delete Benchmark', @bench, method: :delete, data: { confirm: 'Delete this bench will also delete all tasks, are you sure?' }, class: 'btn btn-danger' %>  
  <%= link_to 'Add Benchmark', new_bench_path(view_id: @bench.view.id), class: 'btn btn-success' %>  
<% end %>
