<% content_for :sidebar do %>
  <%= link_to 'Import Samples', database_import_path, class: 'btn btn-primary' if current_user.vip %>
<% end %>

<h3>RATE Database</h3>
<hr>

<p><strong>Browse by class uuids file. If you want to divide the result, give a line start with #</strong></p>
<%= form_tag database_browse_path, multipart: true, class: 'form-inline' do %>
  <div class="form-group">    
    <%= file_field_tag 'sample_uuids_file', class: 'form-control' %>
  </div>
  <%= submit_tag 'submit', class: 'btn btn-primary' %>
<% end %>
<br>

<p><strong>Browse by class uuids file. If you want to divide the result, give a line start with #</strong></p>
<%= form_tag database_browse_path, multipart: true, class: 'form-inline' do %>
  <div class="form-group">
    <%= file_field_tag 'class_uuids_file', class: 'form-control' %>
  </div>  
  <%= submit_tag 'submit', class: 'btn btn-primary' %>  
<% end %>
<br>
<%= label_tag 'Browse by query command' %>
<%= form_tag database_browse_by_query_path, multipart: true, method: :get, class: 'form-inline row' do %>
  <div class="form-group col-xs-9">
    <%= text_field_tag :query_command, '', class: 'form-control', style: 'width: 100%' %>
  </div>  
  <%= submit_tag 'submit', class: 'btn btn-primary' %>
<% end %>
<br>